@charset "utf-8";
/**----------------------------------- 公共基本属性设----------------------------------- */
body{margin:0;padding:0;color:#555;font-size:13px;background-color:#fbfbfb;font-family: "Microsoft YaHei",Helvetica,Arial,sans-serif;-webkit-text-size-adjust: none;}
a,a:visited{color:#536570;text-decoration:none; outline:none;}
a:hover{color:#FF6000;text-decoration:none;}
a:active{star:expression(this.onFocus=this.blur());}
h1,h2,h3,h4{margin:0;font-size:14px;font-weight:normal; overflow:hidden;}
ul,li,img{margin:0;padding:0;border:0;}
div,ul,li{list-style:none;zoom:1; overflow:hidden}
input{background:transparent;outline:none}
input,textarea{font-family:"Microsoft YaHei",Helvetica,Arial,sans-serif;webkit-appearance:none;background-color:#fff;}
.acts li{float:left;margin-right:5px;}
.acts a,.acts a:visited{color:#525F67;}
.acts a:hover{color:#fff;background-color:#F27887;}
.clear{clear:both;height:0px;width:0px; overflow:hidden;}
.centerContainer{text-align:center;letter-space:-0;}
.centerBox{display:-moz-inline-stack;display:inline-block;*display:inline;zoom:1;}
.hideDiv{display:none;}
.minHeight{min-height:600px;_height:600px; overflow:visible;}
.fixedHeader{width:100%;position:fixed;top:0; _position:absolute; _top:expression(documentElement.scrollTop + "px");z-index:9;overflow:visible;}
.ieFloat{position:fixed;_position:absolute;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
.fixedSider{display:none;width:100%;position:fixed;top:60px;_position:absolute; _top:expression(documentElement.scrollTop + "px");z-index:2;overflow:hidden;}

.gradient{
background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.6));
background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.6));
background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.6));
background: linear-gradient(top,rgba(0,0,0,0), rgba(0,0,0,0.6));
}

.gradient2{
background-image:-webkit-linear-gradient(top, rgba(255,255,255,0.8) 0, #fff 100%);background-image:-o-linear-gradient(top, rgba(255,255,255,0.8) 0, #fff 100%);background-image:linear-gradient(to bottom, rgba(255,255,255,0.8) 0, #fff 100%);
}


/**----------------------------------- uploadifyQueueItem ----------------------------------- */
.uploadDiv{margin:0 auto;width:150px; text-align:center;}
.uploadDiv .uploadBtn a,.uploadDiv .uploadBtn:visited{display:block;padding:5px 5px;color:#555;background-color:#eee}
.uploadDiv .uploadBtn a:hover{color:#fff;background-color:#EE7D7D}
.uploadProgress ul{margin:2px 0;width:0%;height:20px; line-height:20px;color:#fff;background-color:#0099FF;}
.errorTip,label.error{padding-left:5px;}
.alertTip{height:25px; line-height:25px;color:#FF6699; text-align:center;}
.errorTip{color:#F99797;}

.formStyle .alertTip{height:15px; line-height:15px;}
.formStyle .input_wraper{width:100%;padding:5px 0;}
.formStyle .input_wraper span{margin-left:10px;}
.formStyle .input_title{width:97%;padding-left:5px;line-height:25px;border-left:solid 2px #F26A6A;border-radius:2px;}
.formStyle .input_area{position:relative;margin:2px 0;}
.formStyle .input_area input{width:97%;padding-left:5px;height:35px;line-height:35px;border:solid 1px #ccc;border-radius:2px;}
.formStyle .input_area textarea{width:97%;height:100px;border:solid 1px #ccc;border-radius:2px;}
.formStyle .inputError{line-height:20px;top:1px;left:5px;position:absolute; color:#F88383; background-color:#fff}
.formStyle .formBtn{margin-top:5px;clear:both;}
.formStyle .formBtn li{float:left;margin-right:8px;text-align:center;}
.formStyle .formBtn a ,.formStyle .formBtn a:visited{display:block;width:80px;height:30px;line-height:30px;border-radius:2px;}
.flatSubBtn a ,.flatSubBtn a:visited{border:solid 1px #FF6000;background-color:#FF6000;color:#fff;}
.whiteBtn a ,.whiteBtn a:visited{border:solid 1px #bbb;color:#555; background-color:#fff}
.flatSubBtn a:hover,.whiteBtn a:hover{border:solid 1px #F6746A;background-color:#F6746A;color:#fff;}

/**
----------------------------------- -----------------------------------
************************************************************************
----------------------------------- -----------------------------------
*/

.yscrollMenu_outer li,.yscrollMenu_outer h2,.yscrollMenu_outer h3{float:left;}
.yscrollMenu_outer{margin-bottom:10px;overflow:hidden;}
.xscrollMenu_outer{overflow-x:auto;}
.xscrollMenu_outer .left{float:left;}
.xscrollMenu_outer .right{float:right;}
.xscrollMenu{width:100%;}
.menu_450{width:450px;}
.menu_550{width:550px;}
.menu_650{width:650px;}

._line{clear:both;height:0px;overflow:hidden;border-bottom:solid 1px #ddd;}

.coloumNav{padding-top:5px;height:30px;}
.coloumNav .xscrollMenu_outer{height:30px;line-height:27px;}
.coloumNav li{float:left;margin-right:20px;font-size:14px;}
.coloumNav a ,.coloumNav a:visited{display:block;color:#666;border-bottom:solid 3px transparent;}
.coloumNav .selected a, .coloumNav .selected a:visited,.coloumNav a:hover{border-bottom:solid 3px #FF6000;color:#FF6000}

.mainBoxNav{margin-bottom:5px;padding-left:8px;border-left:solid 3px #F5BF9F;}
.mainBoxNav li{float:left;}
.mainBoxNav a ,.mainBoxNav a:visited{font-weight:bold;}
.mainBoxNav .more{float:right;}
.mainBoxNav .more a ,.mainBoxNav .more a:visited{font-weight:normal;color:#ccc;}
.mainBoxNav .more a:hover{color:#FF6000;}

.breadNav{margin-bottom:10px;padding-bottom:5px;height:20px;line-height:20px;border-bottom:solid 1px #ddd;color:#777;}
.breadNav li,.breadNav span{float:left;margin-right:5px;}
.breadNav .leftNav li:last-child a,.breadNav .leftNav li:last-child a:visited{font-size:15px;}
.breadNav .leftNav{float:left;}
.breadNav .rightNav{float:right;}

.rankNav{float:right;margin-top:-1px;}
.rankNav li{float:left;margin-left:15px;}
.rankNav a, .rankNav a:visited{display:block;padding:2px 0px;border-bottom:solid 2px #transparent;color:#666; text-align:center;}
.rankNav a:hover,.rankNav .selected a, .rankNav .selected a:visited{border-bottom:solid 2px #555;color:#444;}

.siderNav{margin-bottom:10px;padding-left:10px;height:30px;line-height:30px;border-left:solid 5px #E9E9E9;background-color:#F3F3F3}
.siderNav_margin_0{margin-top:0;}

.subMenu{margin-bottom:5px;}
.subMenu .left{float:left;}
.subMenu .right{float:right;}
.subMenu li{float:left;margin-right:1px;line-height:25px;}
.subMenu a, .subMenu a:visited{display:block;padding:0 10px;color:#666;}
.subMenu .selected,.subMenu a:hover,.subMenu .selected a, .subMenu .selected a:visited{border-radius:20px;color:#fff;background-color:#FF6000}



.commonSoForm .soOuter{float:left;width:100%;height:100%; }
.commonSoForm .input{height:100%; }
.commonSoForm .subBtn{float:right;margin-left:-100%;}
.commonSoForm input{width:100%;height:100%;line-height:100%;border:0;text-align:center;-webkit-appearance:none;color:#888;background-color:transparent;}

.headerSoForm .commonSoForm{}
.headerSoForm .input{margin-right:50px;height:36px;border:solid 1px #ddd;box-shadow:2px 2px 2px 1px #fbfbfb inset;}
.headerSoForm .subBtn a, .subBtn a:visited{display:block;width:50px;height:36px;background:url('../images/yellowSoBtn.png') no-repeat center;background-size:18px 18px; background-color:#fff;border:solid 1px #ddd;}
.headerSoForm .subBtn a:hover{background:url('../images/soBtn_white.png') no-repeat center;background-size:18px 18px;border:solid 1px #FF6000;background-color:#FF6000;}

.focusSoInput input{font-size:18px;font-weight:bold;}
.bdsug_copy{display:none;}
.bdSug_wpr td{height:25px;cursor:pointer; }

.simpleSoForm{float:right;margin:1px 0;width:300px;border:solid 1px #ccc;border-radius:2px; background-color:#fff}
.simpleSoForm .left{float:left;width:100%;height:100%;}
.simpleSoForm .leftInnner{margin-right:35px;height:100%; }
.simpleSoForm .input{height:30px;}
.simpleSoForm input{width:100%;height:100%;line-height:100%;border:0;color:#999;text-align:center;-webkit-appearance:none;background-color:transparent;}
.simpleSoForm .subBtn{float:right;margin-left:-100%;width:35px;border-left:solid 1px #ccc;background-color:#fafafa}
.simpleSoForm .subBtn a, .simpleSoForm .subBtn a:visited{display:block;width:35px;height:30px;}
.simpleSoForm .subBtn a, .simpleSoForm .subBtn a:visited{background:url('../images/small_soBtn.png') no-repeat center;}

.mainPage{margin:10px 0;text-align:center;letter-space:-0;}
.mainPage li{margin:2px;height:30px;display:-moz-inline-stack;display:inline-block;*display:inline;zoom:1;}
.mainPage a, .mainPage a:visited{display:block;padding:3px 10px;border:solid 1px #ccc;border-radius:2px;color:#666;}
.mainPage .selected a, .mainPage .selected a:visited,.mainPage a:hover{color:#555;background-color:#eee}
.mainPage input{width:50px;height:23px;line-height:23px;border:solid 1px #ccc;text-align:center;color:#666;border-radius:2px;}

.footerContainer{display:none;margin-top:20px;font-size:12px;color:#888;}
.footerContainer li{margin-right:5px;line-height:25px;display:-moz-inline-stack;display:inline-block;*display:inline;zoom:1;}
.footerContainer a, .footerContainer a:visited{color:#888;}
.footerContainer a:hover{color:#555;text-decoration:underline;}

.goTopBox{width:32px;right:0;z-index:9;font-size:12px;text-align:center;bottom:50px;filter:alpha(Opacity=80);-moz-opacity:0.8;opacity:0.8;}
.goTopBox div{width:30px;height:30px;line-height:30px;border:solid 1px #aaa;border-radius:2px;text-align:center;background-size:20px 20px;cursor:pointer; background-color:#fff}
.goTopBox div{display:none;margin-top:2px;}
.goTopBox span,.typePosBtn{display:none;}
.goTopBox .goTopBtn{background:url('../images/top.png') no-repeat center;background-size:20px 20px;background-color:#fff}
.goTopBox a:hover div{border:solid 1px #FF6000;background-color:#FF6000;color:#FFF;filter:alpha(Opacity=100);-moz-opacity:1;opacity:1;}
.goTopBox a:hover span{display:block;}
.goTopBox a:hover .goTopBtn{background:url('');background-color:#FF6000;color:#FFF;}


/**-----------------------------------  ----------------------------------- */
.userLogin{width:350px;margin:0 auto;}
.userLogin .weiboBtn{float:left;}
.userLogin .weiboBtn a, .userLogin .weiboBtn a:visited{display:block;padding:2px 4px;padding-left:25px;color:#F26A6A;background:url('../images/weibo.png') no-repeat left;background-size:20px 20px;border-radius:2px;}

.userFormDiv{float:left;width:400px;}
.userFormDiv .userThumbUpload{padding:10px 0;border-radius:2px;text-align:center;background-color:#fafafa;}
.userFormDiv #uploadThumb img{width:100px;border-radius:100px;}
.userFormDiv .regiTime{text-align:center;}
.userFormDiv .homeState{margin-top:10px;}
.userFormDiv .homeState li{float:left;margin-right:1px;}
.homeState a ,.homeState a:visited{display:block;padding:5px; background-color:#fafafa;color:#555;}
.userFormDiv .homeState a:hover,.homeStateSelected a,.homeStateSelected a:visited{background-color:#F6746A;color:#fff;}
.userFormDiv #userBgTip{color:#FF6699;}
.userFormDiv textarea{width:98%;height:50px;border:solid 1px #ccc;}

.users li{float:left;margin-right:5px; line-height:20px;}
.users .eachOne{margin-bottom:15px;padding:5px;}
.users .eachOne:nth-child(even){border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;background-color:#fafafa}
.users .thumb,.users .right{float:left;}
.users .right{width:100%;height:100%;}
.users .thumb{margin-left:-100%;width:40px;height:100%;}
.users .thumb img{width:40px;height:40px;border-radius:2px;}
.users .rightInnner{margin-left:50px;height:100%;padding:0 5px 15px;}
.users .topBar{padding-bottom:5px;margin-bottom:10px;border-bottom:dashed 1px #eee;}
.users .name{float:left;}
.users .acts{float:right;}

.msgsDiv .eachOne{margin-bottom:10px;padding:5px;}
.msgsDiv .eachOne:nth-child(even){border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;background-color:#fafafa}
.msgsDiv .order{font-weight:bold;color:#777}
.msgsDiv li{float:left;margin-right:5px; line-height:25px;}
.msgsDiv .userName{color:#666;}
.msgsDiv .delMsg a, .msgsDiv .delMsg a:visited{padding:0 4px;color:#F27887;}
.msgsDiv .delMsg a:hover{color:#fff; background-color:#F27887}
.msgMark{color:#aaa;}
.msgsDiv img{width:expression(this.width>40?"40px":this.width); max-height:40px; height:expression(this.height>40?"40px":this.height);}

.discuss .eachOne{margin-bottom:20px;}
.discuss li{float:left;margin-left:10px;}
.discuss .thumb,.discuss .right{float:left;}
.discuss .right{width:100%;height:100%;}
.discuss .mainMsg .thumb{margin-left:-100%;width:35px;height:100%; }
.discuss .mainMsg .thumb img{width:35px;height:35px;border-radius:2px;}
.discuss .mainMsg .rightInnner{margin-left:40px;height:100%;}
.discuss .mainMsg .topBar{padding:0 5px;height:35px;line-height:35px;background-color:#E8EFF0;}
.discuss .replies{margin-left:30px;margin-top:5px;font-size:13px;color:#666;}
.discuss .replies .thumb{margin-left:-100%;width:30px;height:100%;}
.discuss .replies .thumb img{width:30px;height:30px;border-radius:30px;}
.discuss .replies .rightInnner{margin-left:35px;height:100%;}
.discuss .replies .topBar{padding:0 5px;height:30px;line-height:30px;background-color:#f4f4f4;}
.discuss .name{float:left;}
.discuss .acts{float:right;}
.discuss .acts li{float:right;padding:0 5px;}
.discuss .content{padding:5px;line-height:25px;}


